{% extends "layout.html" %}
  {% block content %}    
    <div class="content-section">
      <h3> {{ legend }} </h3>
      <form method="POST" action="">
        {{ form.hidden_tag()}}
        <fieldset class="form-group">
          <div class="form-group">
            {% if form.title.errors %}
              {{ form.title(class="form-control is-invalid")}}
              <div class="invalid-feedback">
                {% for error in form.title.errors %}
                <span> {{ error }} </span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.title(class="form-control")}}
            {% endif %}
          </div>
          <div class="form-group">
            {% if form.content.errors %}
              {{ form.content(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.content.errors %}
                <span> {{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.content(class="form-control")}}
            {% endif %}
          </div>
        </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info")}}
        </div>
      </form>
    </div>
  {% endblock content %}
