{% extends "settings.html" %}
  {% block settings %}
  <br>
  <table class="table">
    <thead>
      <tr>
        <td> <h3> Appointment Schedule </h3> </td>
        <td></td>
        <td style="text-align:right"> <a class="btn btn-primary" href="#"> Edit </a></td>
      </tr>
      <tr>
        <th> Treatment Stage</th>
        <th> Duration </th>
        <th> Number of Appointments </th>
      </tr>
    </thead>
    <tbody>
      {% for appointmentschedule in appointmentschedules %}
      <td> {{ appointmentschedule.treatmentStage}}</td>
      <td> {{ appointmentschedule.duration}}</td>
      <td> {{ appointmentschedule.numberOfAppointments}} </td>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}