{% extends "layout.html" %}
  {% block content %}    
  <br>    
    <h1 style="text-align:center"> About Us </h1>
      <div class="container">
        <div>
          <p> Being in a car accident is a terrible experience but, getting treated for one shouldn't be. Which is why
          many clinics strive to provide the best service possible for their patients. However, with the amount of 
          extra paperwork and billing required, it is not always easy! </p>

          <p> That's why MVA Manager aims to take the administrative burden out of Motor Vehicle insurance by tracking 
          appointments, paperwork, and billing without taking a fee-shared approach with a middle-man billing company.</p>

          <p> Unlike many of the online clinic management services, MVA Manager solely focuses on tracking patients under
          Motor Vehicle insurance. Overall, MVA Manager is a web application designed aid clinics manage Motor Vehicle 
          Accident (MVA) patients to ensure the required appointments are schedule and, paperwork is completed in a timely
          manner. </p>
        </div>
      </div>
  {% endblock content %}
