{% extends "layout.html" %}
  {% block content %}
  <br>   
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle img-thumbnail account-img mx-auto" src="{{ image_file }}">
      </div>
        <!--<div class="media-body">-->
          <h2 class="account-heading text-center"> {{ current_user.firstname}} {{ current_user.lastname}}</h2>
          <h4 class="account-heading text-center"> {{ current_user.username }}</h2>
          <p class="text-secondary text-center"> {{ current_user.email }} </p>
        <!-- </div> -->
      <!-- </div> -->
    </div>
    <div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }} 
        <fieldset class="form-group">
          <div class="row">
            <legend class="border-bottom mb-4" style="text-align:center"> Account Information </legend>
          </div>
          <div class= "row">
            <div class="col-md-12">
              <div class="form-group">
               <!--{{ form.username.label(class="form-label") }}-->
               {% if form.username.errors %}
                {{ form.username(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control") }}
               {% endif %}
              </div>
            </div>
          </div>
          <div class= "row">
            <div class="col-md-6">
              <div class="form-group">
                <!-- {{ form.firstname.label(class="form-control-label") }} -->
                {{ form.firstname(class="form-control") }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <!-- {{ form.lastname.label(class="form-control-label") }} -->
                {{ form.lastname(class="form-control") }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
               <!-- {{ form.email.label(class="form-control-label") }} -->
               {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                  {{ form.email(class="form-control") }}
                {% endif %}
              </div>
            </div> 
          </div>
          <div class="form-group">
            {{ form.picture.label() }}
            {{ form.picture(class="form-control-file")}}
            {% if form.picture.errors %}
              {% for error in form.picture.errors %}
                <span class="text-danger"> {{ error }} </span>
                <br>
              {% endfor %}
            {% endif %}
          </div>
        </fieldset>
        <div class="text-right">
          <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
          </div>
        </div>
      </form>
    </div>
    </div>
  {% endblock content %}