{% extends "layout.html" %}
  {% block content %}
  <br>
  <h1> Clinic Board </h1>
  <br>
  <table class="table">
    <tr>
      <td> <h3> Discussion </h3></td>
      <td style="text-align: right"> <a class="btn btn-success" href="{{ url_for('new_post')}}"> + </a> </td>
    </tr>
  </table>
    {% for post in posts %}
    <article class="media content-section">
      <img class="rounded-circle" style="height: 65px; width: 65px; margin-right: 16px"src="{{ url_for('static', filename='profile_pictures/' + post.author.image_file) }}">
      <div class="media-body">
        <div style="border-bottom: 1px solid #e3e3e3">
          <a class="mr-2" href='#'>{{ post.author.username }}</a>
          <small class="text-muted">{{ post.date_posted.strftime('%m-%d-%Y') }}</small>
        </div>
        <h3><a class="article-title" style="color:black" href="{{ url_for('post', post_id=post.id) }}"> {{ post.title }} </a></h3>
        <p class="article-content"> {{ post.content }}</p>
      </div>
    </article>
    {% endfor %}
  {% endblock content %}
