{% extends "layout.html" %}
  {% block content %}   
  <br>
  <h1 style="text-align: center"> Settings </h1>
  <div class="row">
      <div class="col-md-3 offset-md-.5">
        <div class="card text-center">
          <div class="card-header"> Options: </div>
          <div class="card-body">
            <a href="{{ url_for('settings.practitioners')}}" class="btn btn-outline-secondary btn-block"> Practitioners </a>
            <a href="#" class="btn btn-outline-secondary btn-block"> Services & Fees</a>
            <a href="#" class="btn btn-outline-secondary btn-block"> Appointment Schedule </a>
            <a href="#" class="btn btn-outline-secondary btn-block"> Preferences </a>
          </div>
          <div class="card-footer text-muted"> <small>MVA Manager 2019</small></div>
        </div>
      </div>
    <div class="col-md-8">
      {% block settings %}
      {% endblock %}
    </div>
  </div>
  {% endblock %}